.navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.item-nav {
    padding: 8px;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 109px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 96%;
    display: flex;
    justify-content: space-between;
}

.item-footer {
    padding: 15px;
    font-size: 16px;
}
