.navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.item-nav {
    padding: 8px;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 109px;
}
